doctype html
html(lang="en")
  head
    title MyChain
    meta(name='description', content='A Bitcoin block chain exploring providing an accurate view of Bitcoin transaction information.')
    meta(name='keywords', content='Bitcoin, blockchain, block, chain, explorer, mychain')
    meta(name='author', content='Trevin Hofmann')
    link(rel='stylesheet', href='http://mychain.io/lib/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://mychain.io/styles.css')
    link(rel='shortcut icon', href='http://mychain.io/favicon.ico')
body
  a(href='https://github.com/thofmann/mychain', target='_blank')
    img.fork-me(src='http://mychain.io/img/forkme.png', alt='Fork me on GitHub')
  p.spaced.text-center.text-danger Application under development. Data accuracy is not guaranteed.
  block content
  script(src='http://mychain.io/lib/jquery/1.11.1/jquery.js')