doctype html
html(lang="en")
  head
    title MyChain
    meta(name='description', content='A Bitcoin block chain explorer providing an accurate view of Bitcoin transaction information.')
    meta(name='keywords', content='Bitcoin, blockchain, block, chain, explorer, mychain')
    meta(name='author', content='Trevin Hofmann')
    link(rel='stylesheet', href='http://mychain.io/lib/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://mychain.io/styles.css')
    link(rel='shortcut icon', href='http://mychain.io/favicon.ico')
body
  if config.googleAnalytics.enabled
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '#{config.googleAnalytics.trackingID}', 'auto');
      ga('send', 'pageview');
  
  .container.very-padded
    .text-center
      a(href='http://mychain.io/')
        img(src='http://mychain.io/img/logo.png', alt='MyChain')
    block content
  div.footer
    a(href='http://mychain.io/about', title='Want to learn more?') About
    |  • 
    a(href='https://github.com/thofmann/mychain', title='This whole thing is open source.') Source Code
    |  • 
    a(href='mailto:trevinhofmann@gmail.com', title='Send me an email!') Contact
    |  • 
    a(href='http://mychain.io/donate', title='Servers are expensive.') Donate or Sponsor
    |  • 
    a(href='https://www.weusecoins.com', title='Click to find out!') What is Bitcoin?
  script(src='http://mychain.io/lib/jquery/1.11.1/jquery.min.js')