doctype html
html(lang="en")
  head
  title MyChain
  link(rel='stylesheet', href='http://mychain.io/lib/bootstrap/3.2.0/css/bootstrap.min.css')
  link(rel='stylesheet', href='http://mychain.io/styles.css')
body
  block content