body
  padding-bottom 100px
  
table
  table-layout fixed
  word-wrap break-word

.holo
  margin 0
  padding 0px 7px 0px 4px
  background bottom left linear-gradient(#44aaff, #44aaff) no-repeat, bottom center linear-gradient(#44aaff, #44aaff) repeat-x, bottom right linear-gradient(#44aaff, #44aaff) no-repeat
  background-size 2px 9px, 2px 2px, 2px 9px

.spaced
	margin-top 16px
  
.fairly-spaced
  margin-top 54px
  
.very-spaced
  margin-top 200px
  
.fork-me
  position absolute
  top 0
  right 0
  border 0